body {
    background-color: #4399e9;
    height: 100%;
}

body, #page-wrapper, #start-modal, #finish-modal {
    transition: all 0.4s ease;
}

header {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 600px;
}

html {
    font-size: 16px;
    height: 100%;
}

ol {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.answer {
    border: 1px gray solid;
    display: block;
    height: 50px;
    padding: 15px;
}

.answer-box {
    margin: 0 auto;
    max-width: 90%;
}

.answer:hover {
    background-color: #d1d1d1;
}

.btn-finish {
    float: right;
    position: relative;
    right: 20px;
    bottom: 10px;
}

.btn-next {
    float: right;
    position: relative;
    right: 20px;
    bottom: 10px;
}

.btn-retry {
    
}

.btn-start {

}

.container {
    
}

.control-box {
    height: 60px;
    padding: 15px;
    position: relative;
}

#page-wrapper {
    height: 100%;
}

#start-modal {
    background: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: calc(100% - 30px);
    position: absolute;
    height: 25%;
    width: 50%;
    min-height: 200px;
    min-width: 200px;
    max-height: 400px;
    max-width: 400px;
    top: 50%;
    left: 50%;
    margin: -25% 0 0 -25%;
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    padding: 20px;
    transform: scale(1.5);
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
}


.startDialogIsOpen #start-modal {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.startDialogIsOpen #page-wrapper {
    -webkit-filter: blur(5px) grayscale(50%) brightness(0.8);
    filter: blur(5px) grayscale(50%) brightness(0.8);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    pointer-events: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    }

.feedback {
    color: #ff9605;
    display: block;
    font-size: 1.0rem;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

.feedback-box {
    padding: 15px;
}

#finish-modal {
    background: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: calc(100% - 30px);
    position: absolute;
    height: 25%;
    width: 50%;
    min-height: 200px;
    min-width: 200px;
    max-height: 400px;
    max-width: 400px;
    top: 50%;
    left: 50%;
    margin: -25% 0 0 -25%;
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    padding: 20px;
    transform: scale(1.5);
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
}

.finishDialogIsOpen #finish-modal {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


.finishDialogIsOpen #page-wrapper {
    -webkit-filter: blur(5px) grayscale(50%) brightness(0.8);
    filter: blur(5px) grayscale(50%) brightness(0.8);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    pointer-events: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    }

.not-clickable {
    pointer-events: none;
}

.number-correct {
    color: green;
}

.number-incorrect {
    color: red;
}

.question {
    display: inline-block;
    font-size:1.0rem;
    padding: 10px;
}

.question-box {
    padding: 10px;
}

.question-header {
    display: block;
    font-size: 2.0rem;
    padding: 10px;
}

.question-number-box {
    bottom: 0;
    display: inline-block;
    font-size: 1rem;
    position: relative;
    text-align: center;
    width: 50%;
}

.quiz-interface {
    background-color: #fff;
    margin: 0 auto;
    max-width: 600px;
    min-width: 300px;
    position: relative;
}

.row {
    display: block;
    position: relative;
    left: 15px;
    width: 100%;
}

.score-box {
    bottom: 0;
    display: inline-block;
    font-size: 1rem;
    position: relative;
    right: 0;
    text-align: center;
    width: 50%;
}

.start-prompt {
    padding: 5px;
    padding-top: 15%;
    text-align: center;
}

.stats-box {
    font-size: 0;
    padding: 10px 0;
    position: relative;
}

.title-header {
    color: white;
    font-size: 2.0rem;
    padding: 10px 0px;
}

#page-wrapper {
    height: 100%;
}

